.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.Weather-app {
  background-color: antiquewhite;
  color: black;
  min-height: 10vh;
  padding: 1em;
  border: 2px solid salmon;
  align-items: right;
  text-align: left;
  width: 600px;
  margin: 0 auto;
}

.input-lenght {
  width: 100% !important;
}
.weather-description .day-description {
  color: white;
  display: block;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.input-container {
  width: 100%;
}
.App-body,
.Form {
  background-color: rgb(158, 108, 206);

  padding: 1em;

  align-items: right;
  justify-content: right;

  color: white;
}
.App-body .row img {
  float: left;
  width: 100px;
  height: 100px;
}
.degrees-content {
  display: flex;
}
.row .degrees {
  font-weight: 500;
  font-size: 60px;
}
.row .temp-unit {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  width: auto;
  position: relative;
  top: 20px;
}
.App-body ul {
  list-style-type: none;
}
