.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}
.bg_image {
  padding-top: 40px;
  background-image: url(/src/images/background\ img.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: auto;
}

.Weather-app {
  background-color: rgba(65, 43, 68, 0.651);

  min-height: 10vh;
  padding: 20px;

  border: 1px transparent salmon;
  align-items: right;
  text-align: left;
  width: 50vw;
  border-radius: 7%;
  margin: 0 auto;
}

.input-lenght {
  width: 100% !important;
}
.weather-description .day-description {
  color: white;
  display: block;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.input-container {
  width: 100%;
}

.btn-color {
  background-color: #5bc8a8 !important;
  border-color: #5bc8a8 !important;
}
.btn-location {
  background-color: #877871 !important;
  border-color: #877871 !important;
}
.App-body,
.Form {
  padding: 1em;

  align-items: right;
  justify-content: right;

  color: white;
}
.App-body .row canvas {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  margin: 0em;
}
.degrees-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-fahrenheit,
.color-celsius {
  color: #5bc8a8;
}
.row .degrees {
  font-weight: 500;
  font-size: 60px;
}
.row .temp-unit {
  display: inline;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 24px;
  width: auto;
  position: relative;
  top: 20px;
}
.App-body ul {
  list-style-type: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Weather-app {
    width: 100%;
    height: 90%;
    width: auto;
  }
  .weather-description .day-description {
    text-align: center;
    font-weight: 200;
  }
  .Container {
    height: 100%;
  }
  .App-body .row canvas {
    text-align: center;
  }
  .row .degrees {
    padding-top: 20px;
    font-weight: 200px;
    font-size: 60px;
  }

  .App-body ul {
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 18px;
  }
  .App-body li {
    justify-content: space-around;
    width: 100%;
  }
  .geo-location h3 {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .city-name {
    order: 1;
    padding-top: 10px;
  }
  .weather-container {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
